<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= listing.rooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= listing.bathrooms %>
  </p>

</div>
